@model IEnumerable<MoviesCatalog.Models.Movie>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<table id="moviesTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Director</th>
            <th>Release Date</th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.Director</td>
                <td>@movie.Release.ToShortDateString()</td>
                <td>@string.Join(", ", movie.FilmCategories.Select(fc => fc.Category.Name))</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/dataTables.min.js"></script>
    <script src="~/js/moviesTable.js"></script>
}
